* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container{
	display: flex;
	justify-content: space-evenly;
	max-width: none;
}

.card {
	background-color: #764b36 !important;
	margin: 6rem;
	padding: 2rem;
	display: flex;
	align-content: center;
	text-align: center;
	border-radius: 25px;
}


.card1 {
	background-color: #F8E8CC !important;
	margin: 6rem;
	padding: 2rem;
	align-content: center;
	text-align: left;
	border-radius: 25px;
}

#link{
	text-decoration: none;
	color: white;
	background-color: #764b36;
	padding: 0.5rem;
	border-radius: 20px;
	text-align: right;
	margin-left: 2rem ;
}

#link1{
	text-decoration: none;
	color: black;
	background-color: white;
	padding-top: 0.5rem;
	border-radius: 20px;
	width: 5rem;
	padding: 0.5rem;
	margin-left: 2rem;
}

.card-title1{
	text-align: center;
}

.card-title{
	font-family: "Vladimir Script";
}

.heading{
	position: absolute;
	top: 30%;
	margin-left: 5%;
	font-size: 700%;
	color: black;
	font-family: "Vladimir Script";
}

.heading2{
	position: absolute;
	font-size: 40px;
	text-align: center;
}

.Heading3{
	font-size: 20px;
	position: absolute;
	left: 200px;
}
.Heading4{
	font-size: 20px;
	position: absolute;
	left: 800px;
}
.Heading5{
	font-size: 20px;
	position: absolute;
	left: 200px;
	
}
.Heading6{
	font-size: 20px;
	margin-left: 500px;







	text-align: center;
	position: absolute;
}



